iframe.tmblr-iframe {
top:0!important;
right:0!important;
/* delete from here
filter:invert(1);
-webkit-filter:invert(1);
-o-filter:invert(1);
-moz-filter:invert(1);
-ms-filter:invert(1);
to here if your blog has a dark background */
transform:scale(0.8);
transform-origin:100% 0;
-webkit-transform:scale(0.8);
-webkit-transform-origin:100% 0;
-o-transform:scale(0.8);
-o-transform-origin:100% 0;
-moz-transform:scale(0.8);
-moz-transform-origin:100% 0;
-ms-transform:scale(0.8);
-ms-transform-origin:100% 0;
z-index:99999999999999!important;
}

::-webkit-scrollbar-thumb {
position:relative;
height:auto;
z-index:9999;
}
 
::-webkit-scrollbar {width:5px;height:5px;}

/* basics */

* {margin:0;padding:0;box-sizing:border-box;}

body {
background-position:left top;
background-attachment:fixed;
background-repeat:repeat;
font-family:'Roboto', sans-serif;
font-size:10px;
line-height:14px;
letter-spacing:1px;
text-align:justify;
word-break:break-word;
}

small {font-size:9px;}

pre {
margin-bottom:10px;
padding:5px;
word-wrap:break-word;
white-space:pre-wrap;
white-space:-moz-pre-wrap;
white-space:-pre-wrap;
white-space:-o-pre-wrap;
}

blockquote {margin:0 0 10px 5px;padding:10px 0 1px 15px;}
u {text-transform:none;}

a {
text-transform:uppercase;
text-decoration:none;
-moz-transition-duration:1s;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
}

a:hover {
-moz-transition-duration:1s;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
}

p {margin-bottom:10px;}
p:empty {display:none;}
hr {width:200px;margin:0 auto 10px auto;}

/* media queries */

@media only screen and (max-width: 650px) and (min-height: 100vh), (min-width: 851px) and (max-width: 1040px) and (min-height:100vh) {
iframe.tmblr-iframe {top:8vh!important;}
}

@media only screen and (max-width: 850px) and (min-height: 100vh) {
#headernav {display:none;}
#headermenu {display:block;}
}

@media only screen and (min-width: 851px) and (min-height: 100vh) {
#headernav {display:block;}
#headermenu {display:none;}
}

@media only screen and (max-width: 899px) {
#sidebarcont {display:none;}
#footercont {display:block;}
#postcontainer {width:100%;}
.posts {margin:0 auto 80px auto;}
}

@media only screen and (min-width: 900px) and (max-width: 1679px) {
#sidebarcont {display:block;}
#footercont {display:none;}
#postcontainer {margin-left:calc(8% + 250px);width:calc(100% - 8% - 250px);}
.posts {margin:0 0 80px 0;}
}

@media only screen and (min-width: 1680px) {
#sidebarcont {display:block;}
#footercont {display:none;}
#postcontainer {margin-left:calc(8% + 250px);width:calc(100% - 8% - 250px);}
}

/* header */

#headercont {
position:fixed;
top:0;
left:0;
width:100%;
height:8vh;
line-height:8vh;
z-index:9999;
}

#headercont div {float:left;}

#headertitle {
height:calc(8vh - 1px);
padding:0 10px;
font-size:4vh;
font-family:'Roboto Condensed', sans-serif;
font-weight:bold;
letter-spacing:3px;
text-transform:uppercase;
}

#headernav {padding-left:10px;}

#headernav a {
margin:0 10px;
padding-bottom:2px;
font-size:calc(1vh + 6px);
border-bottom:2px solid transparent;
-moz-transition-duration:0.3s;
-webkit-transition-duration:0.3s;
-o-transition-duration:0.3s;
}

#headernav a:hover {
-moz-transition-duration:0.3s;
-webkit-transition-duration:0.3s;
-o-transition-duration:0.3s;
}

#headermenu {padding-left:30px;line-height:10vh;}

#headermenu c {
font-size:3vh;
-moz-transition-duration:1s;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
}

#headermenu c:hover {
-moz-transition-duration:1s;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
}

#headernav2 {
display:none;
position:fixed;
top:8vh;
width:100%;
height:4vh;
line-height:4vh;
text-align:center;
z-index:9999;
}

#headernav2 a {
display:inline-block;
margin:0 20px;
font-size:calc(1vh + 4px);
}

#headernav2 a:hover {letter-spacing:3px;}

/* sidebar */

#sidebarcont {position:fixed;top:15vh;left:4%;width:250px;}
#sidebarinfo, #sidebarnav {width:250px;margin-bottom:5px;}
#sidebarinfo {padding:5px;}

#sidebarinfo h1 {
font-family:'Roboto Condensed', sans-serif;
font-weight:bold;
text-align:left;
}

#sidebardesc {padding:5px;}
#sidebarnav {padding:10px;}

#sidebarnav a {
display:block;
padding:10px 0 10px 2px;
font-size:14px;
text-align:left;
-moz-transition-duration:0.3s;
-webkit-transition-duration:0.3s;
-o-transition-duration:0.3s;
}

#sidebarnav a:first-of-type {padding-top:0;}
#sidebarnav a:last-of-type {margin-bottom:0;padding-bottom:0;border-bottom:none;}

#sidebarnav a:hover {
padding-left:10px;
letter-spacing:3px;
-moz-transition-duration:0.3s;
-webkit-transition-duration:0.3s;
-o-transition-duration:0.3s;
}

#pagination {margin-top:15px;width:250px;text-align:center;}

#pagination a {
display:inline-block;
margin:0 5px;
padding:10px;
font-size:18px;
}

/* footer */

#footercont {
position:relative;
padding-bottom:2vh;
width:100%;
font-size:calc(1vh + 6px);
text-align:center;
}

#fpagination {
margin-bottom:4vh;
width:100%;
height:4vh;
line-height:4vh;
}

#fpagination a, #footernav a {
display:inline-block;
margin:0 20px;
font-size:calc(1vh + 6px);
}

#fpagination a {padding-bottom:1px;}

#footerdesc {
margin:4vh auto 2vh auto;
width:70%;
line-height:calc(1vh + 10px);
}

#footernav {margin-top:4vh;}

#footernav a {
padding-bottom:4px;
border-bottom:2px solid transparent;
-moz-transition-duration:0.3s;
-webkit-transition-duration:0.3s;
-o-transition-duration:0.3s;
}

#footernav a:hover {
-moz-transition-duration:0.3s;
-webkit-transition-duration:0.3s;
-o-transition-duration:0.3s;
}

/* posts */

#postcontainer {margin-top:8vh;margin-bottom:8vh;padding-top:7vh;}

.posts {
width:500px;
padding:20px;
box-sizing:content-box;
}

/* posts - text */

.caption:empty {display:none;}
.text, .unnestcont {padding:5px 5px 1px 5px;}
.posts > .unnestcont {border-top:none;}

.username img {
width:25px;
height:25px;
border-radius:50%;
vertical-align:middle;
margin:5px 10px 10px 0;
}

.posts ul, ol {margin:0 0 10px 5px;}
.posts li {margin:0 10px;}

.posts h1, #sidebarcont h1 {
margin:5px;
padding:5px;
font-family:'Roboto Condensed', sans-serif;
font-size:18px;
font-weight:bold;
line-height:22px;
letter-spacing:3px;
text-transform:uppercase;
}

.unnest h1, .text h1 {
margin:0 0 10px 0;
font-family:'Roboto Condensed', sans-serif;
font-weight:bold;
}

/* posts - embeds */

.text img, .unnest img, .text video, .unnest video {
max-width:100%;
height:auto;
margin-bottom:5px;
}

.text p img, .unnest p img, .text p video, .unnest p video {margin-bottom:0;}
figure.tmblr-full {margin-bottom:0!important;}
.npf_photoset {margin-bottom:5px;}
blockquote img, blockquote video {max-width:calc(100% - 20px);}

/* posts - quotes */

h2 {
padding:5px 0 10px 0;
text-align:center;
font-family:'Roboto Condensed', sans-serif;
font-size:18px;
font-weight:bold;
line-height:22px;
font-weight:bold;
word-spacing:2px;
text-transform:uppercase;
}

#source {padding:0 10px 10px 10px;text-align:right;}

/* posts - chats */

#chat ol {margin-left:0;}
#chat li {margin-left:5px;}
.line {list-style:none;padding:5px 0 0 0;}
.label {font-weight:bold;}

/* posts - photos / videos */

.mediacont, .photo-slideshow {margin-bottom:5px;}
.mediacont img, .mediacont iframe {display:block;width:500px;}
.mediacont img {height:auto;}

/* posts - audio */

.spotify_audio_player, .soundcloud_audio_player {height:80px;}

#audio {
height:120px;
margin-bottom:5px;
font-family:'Source Sans Pro', sans-serif;
font-size:10px;
line-height:25px;
}

#albumart {
float:left;
width:120px;
height:120px;
margin-right:5px;
}

#albumart img {width:120px;height:120px;}

#audioplayerbg {
position:absolute;
width:120px;
height:120px;
padding:10px;
background-color:#fff;
opacity:0.6;
-moz-transition-duration:1s;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
}

#audioplayerbg:hover {
opacity:0.4;
-moz-transition-duration:1s;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
}

#audioplayer {
width:30px;
height:30px;
margin:40px auto;
overflow:hidden;
}

#audioinfo {
height:120px;
padding:10px 10px 10px 15px;
text-transform:uppercase;
text-align:left;
overflow-x:hidden;
overflow-y:auto;
}

/* posts - asks */

#askcont {margin-bottom:5px;}

#asker, #replier {
font-family:'Roboto Condensed', sans-serif;
font-size:16px;
line-height:20px;
font-weight:bold;
text-transform:uppercase;
}

#asker {margin-bottom:10px;text-align:right;}
#ask {padding:10px;}
#ask p:last-of-type {margin-bottom:0;}
#reply {margin-bottom:10px;padding:10px 10px 1px 10px;}
#replier {margin:15px 0;text-align:left;}

/* perma */

#perma {padding:15px 10px 0 10px;font-size:12px;}
.buttons {float:left;}

#likebutton a, #reblogbutton a {
-moz-transition-duration:1s;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
}

.like_button:hover + c.likeicon, #reblogbutton a:hover {
cursor:pointer;
-moz-transition-duration:1s;
-webkit-transition-duration:1s;
-o-transition-duration:1s;
}

#likebutton c, #reblogbutton c {font-size:20px;margin:0 10px;}

.like_button {
position:absolute;
margin-left:10px;
width:20px;
height:20px;
opacity:0;
z-index:10;
overflow:hidden;
}

c.likeicon {z-index:1;}
#perma #likebutton .liked + c.likeicon {color:#e11414;}
a.permalinks, a.tags {margin-top:2px;margin-bottom:2px;}
a.permalinks {display:inline-block;margin-right:10px;}

a.tags {
display:inline-block;
margin-right:10px;
font-size:11px;
text-transform:none;
}

/* notes */

ol.notes {
list-style-type:none;
margin:10px 0 0 0;
padding-top:10px;
font-size:12px;
text-align:center;
}

ol.notes li.note {margin:0 0 0 5px;padding:10px 0 0 0;line-height:18px;}
ol.notes li.note:last-child {padding-bottom:10px;}
ol.notes li.note blockquote {padding:2px 5px;margin:5px 0 0 35px;}
ol.notes li.note img.avatar {display:none;}

/* extras */

#s-m-t-tooltip {
display:block;
max-width:150px;
margin:24px 14px 7px 12px;
padding:2px 5px 2px 5px;
font-family:'Source Sans Pro', sans-serif;
font-size:11px;
line-height:13px;
text-align:left;
text-transform:uppercase;
z-index:9999999999;
}

/* credit - do not remove, alter, or move to another page */

#credit {
position:fixed;
bottom:14px;
right:10px;
text-align:center;
z-index:9999;
}

#credit a {padding:4px;}
